<div class="banner">
	<div class="banner-content">
		<h1>Ted's Awesome Website</h1>
	    <div class="banner-profile">
	    	<img src="assets/images/thumbs-avatar.jpeg" width="180" height="180">
	    </div>
		<h3>Yay programming</h3>
	    <div class="banner-down" ng-show="vmHome.showDownArrow" on-scroll="vmHome.hideDownArrow">
	    	<i class="fa fa-angle-down"></i>
	    </div>
    </div>
</div>

<div class="app-content">

	<h1>What is this place?</h1>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis massa justo, sit amet ultricies ex imperdiet sit amet. Nunc nulla ex, sodales sit amet faucibus non, pulvinar et dolor. Maecenas et iaculis orci. Duis et erat a augue pharetra vestibulum et quis justo. Vivamus pretium interdum ligula, eget cursus arcu lacinia quis. Aliquam malesuada ante ut dictum cursus. Etiam vitae lectus faucibus, porttitor elit at, ornare odio. Pellentesque nec enim lacus. Aenean eu metus fermentum, lacinia odio nec, pellentesque orci. Praesent semper mauris sed urna lacinia, eu viverra leo consequat. Cras luctus cursus elit, nec rutrum purus pulvinar in. Curabitur hendrerit velit viverra imperdiet tempus. Maecenas scelerisque lectus sit amet ipsum ullamcorper, at convallis erat scelerisque. Aliquam erat volutpat.</p>

	<p>Quisque interdum nibh non lacinia consectetur. Nunc ac quam sit amet sem tincidunt hendrerit. Nullam feugiat lacus nisi, vitae vehicula nulla fermentum sed. Suspendisse in ipsum luctus elit accumsan accumsan vitae sed sem. In semper molestie sagittis. Ut sed arcu metus. Nunc tortor purus, sollicitudin sit amet pretium sit amet, sodales ac ipsum. Maecenas quis erat ornare, posuere purus ut, posuere nulla. Nullam nec feugiat lorem. Fusce quis efficitur metus. Cras id auctor elit. Maecenas convallis at nunc sed viverra. Vestibulum tempus auctor nulla dignissim rutrum. Vestibulum ac tincidunt tortor, quis aliquam ex. Fusce ac leo vitae velit interdum congue. Donec non euismod massa, in consequat sapien.</p>

	<p>Ut venenatis, felis eget convallis elementum, neque velit sollicitudin leo, auctor tristique est ligula in erat. Nulla vitae sem nec ex pharetra bibendum ut sodales quam. Sed porttitor tellus libero, eu feugiat sapien dignissim ac. Maecenas posuere dui eu felis imperdiet consectetur. Duis ut magna sem. Mauris quis mollis tellus. Suspendisse potenti. Sed quis venenatis purus.</p>

</div>
